// For the most part, we want to reject all reads and writes.
// Clients should do these via server functions.

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to view best global runs.
    match /public-runs/{runId} {
      allow read: if true;
      allow write: if false;
    }

    // Session use-case: user should be able to read the next cry,
    // written by a cloud task.
    match /protected-sessions/{sessionId} {
      // ALLOW READ IF:
      // 1. User is logged in (request.auth != null)
      // 2. The 'uid' field on the PARENT document matches their UID
      allow read: if request.auth != null &&
        exists(/databases/$(database)/documents/sessions/$(sessionId)) &&
        get(/databases/$(database)/documents/sessions/$(sessionId)).data.uid == request.auth.uid;
      allow write: if false;
    }

    match /protected-users/{uid} {
      allow read: if uid == request.auth.uid;
      allow write: if uid == request.auth.uid;
    }
  }
}